<div class="container" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <h4 mat-dialog-title >{{operacion}}</h4>  
    <form [formGroup]="formEmp" class="row ml-3 mt-3 mr-10">         
       <div class="row justify-content-md-left">
        <div class="col-auto">           
           <mat-form-field style="width:70px;"  appearance="fill">
                 <mat-label>Nro</mat-label>
                 <input matInput [readonly]="true" formControlName="nroemp" style="text-align: center;">	
            </mat-form-field>    
        </div>

        <div class="col-auto">
           <mat-form-field style="width:350px;"  appearance="fill">
                <mat-label>Nombre del Empleado</mat-label>
                <input #nombreempleado matInput #inputFocus formControlName="nombre" style="text-align: left;">	
            </mat-form-field>    
        </div>   
        </div>
        <div class="row justify-content-md-left">
            <div class="col-auto">
              <mat-form-field style="width:250px;text-align:left;" appearance="fill">
                <mat-label>Domicilio</mat-label>
                <input matInput formControlName="domicilio">	
               </mat-form-field>                   
            </div> 
            <div class="col-auto">
                <mat-form-field style="width:200px;text-align:left;" appearance="fill">
                  <mat-label>DNI</mat-label>
                  <input matInput formControlName="dni">	
                 </mat-form-field>                   
              </div> 
            <div class="col-auto">
                <mat-form-field style="width:150px;text-align:left;" appearance="fill">
                  <mat-label>Teléfono</mat-label>
                  <input matInput formControlName="telefono">	
                 </mat-form-field>                   
              </div> 
        </div> 
        <div class="row justify-content-md-left">
            <div class="col-auto">
                <mat-form-field style="width:600px;text-align:left;" appearance="fill">
                  <mat-label>Notas</mat-label>
                  <input matInput formControlName="notas">	
                 </mat-form-field>                   
              </div>           
        </div>
       <div class="botonera">
              <button class="btn btn-sm btn-outline-primary me-5" 
                       [disabled]="formEmp.invalid || data.accion!='A'" 
                       (click)="AgregarEmpleado()">Agregar</button>                                
              <button class="btn btn-sm btn-outline-success me-5" 
                       [disabled]="formEmp.invalid ||  data.accion!='M'" 
                       (click)="ModificarEmpleado()">Modificar</button>  
              <button class="btn btn-sm btn-outline-secondary"                
                       (click)="Anular()">Cancelar</button>                       
        </div>  
         
    </form>
</div>
