.movimcta-container {
    width: 100%;
    height: 100vh; /* Usar toda la altura de la ventana */
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Evita scroll en el contenedor principal */
    position: fixed; /* Fijar todo el contenedor */
    top: 18px;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 45px; /* Espacio para la barra de navegación */
}
/*.table-container {
  flex: 1;  
  overflow-y: auto;
  max-height: 400px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}*/
.table-container {
  flex: 1;
  height: 350px;
  overflow-y: auto;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
/* Estilos de la tabla */
/*.mat-mdc-table {  
  table-layout: fixed;
  width: 100%;
}*/
/*::ng-deep form .mat-mdc-form-field-hint-wrapper{
  padding-bottom : 1px !important;
}*/
::ng-deep .mat-form-field-wrapper{
  padding-bottom: -1.25em;
   margin-bottom: -1.25em;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1px;
}
.header h4 {
  background-color: #b6c1dd;
  padding: 8px 16px;
  border-radius: 4px;
  margin: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.cta-info {
    /*background-color: #f5f7fa;*/
    background-color: #b6c1dd;
    border-radius: 4px;
    padding: 1px;
    margin-bottom: 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
  .cta-info .field {
    display: flex;
    margin-bottom: 2px;
  }
  
  .cta-info .field-label {
    font-size : 16px;
    font-weight: 500;
    /*width: 150px;*/
  }

    .cta-info .field-banco {
    font-size : 20px;
    color : blue;
    font-weight: 500;
    /*width: 150px;*/
  }
  .cta-info .field-saldo {    
    color : blue;
    font-weight: 500;
    /*width: 150px;*/
  }

  .cta-header {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .cta-header h5 {
    margin: 0;
    color: #b34428;
    font-weight: 800;
    font-size: 1.1rem;
  }
  
  .cta-details {
    padding: 5px 0;
  }


.mat-mdc-header-row {
  background-color: #b6c1dd;
  height: 24px;
  font-size: 14px;
  font-weight: 500;
  position: sticky;
  top: 0;
  z-index: 10;
}

.mat-mdc-row {
  height: auto;
  min-height: 40px;  
  font-size: 14px;
  transition: background-color 0.2s ease;
}

.mat-mdc-row:nth-child(odd) {
  background-color: white;
  color: black;
}

.mat-mdc-row:nth-child(even) {
  background-color: #cbd0d8;
  color: black;
}

.mat-mdc-row:hover {
  background-color: #e8edf5;
}

.fila-totales {
  background-color: #053966; /* Celeste claro, cambia a tu gusto */
  font-weight: 400;
}

/* Estilos para las celdas */
.mat-mdc-cell,
.mat-mdc-header-cell { 
  padding: 0 5px;
}

/* Asegurar que los encabezados no se truncan */
.mat-mdc-header-cell {
  padding-left: 0px!important;
  padding-right: 0px!important;
  text-align: center;
  white-space: nowrap;
  overflow: visible !important;
  text-overflow: clip;
 
}


.fixed-section {
    flex-shrink: 0; /* Evita que la sección se encoja */
    width: 100%;
    padding: 1px;
    background-color:white;
    z-index: 2; /* Asegurar que esté por encima de la tabla */
  }
 /* Contenedor específico para el footer */
.footer-container {
  padding-top: 0;
  padding-bottom: 1px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05);
  z-index: 5;
  position: relative; /* Para que el z-index funcione */
  background-color:#426edf; /* Asegurar que el fondo sea visible */
}
/* Pie de página con info adicional */
.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 15px;
  /*background-color: #f5f7fa;*/
  background-color: #b6c1dd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.total {
  font-size: 14px;
  font-weight: 400;
}

.action-btn {
  background-color: rgb(130, 130, 141) !important;
  width: 32px !important;
  height: 32px !important;
  padding: 0 !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: white !important;
  border: none !important;
  border-radius: 2px !important;
}

.action-btn-cli {
  background-color: pink !important;
  width: 32px !important;
  height: 32px !important;
  padding: 0 !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  color:black !important;
  border: none !important;
  border-radius: 2px !important;
}
.mat-column-fecha {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  padding-left: 5px;
  white-space: nowrap;
}
.mat-column-tipomov {  
  width: 130px;
  min-width: 130px;
  max-width: 130px;
  white-space: nowrap;
}
.mat-column-nrocheque {
 width: 130px;
  min-width: 130px;
  max-width: 130px;
  white-space: nowrap;
}
.mat-column-descrip {  
  max-width: 100px;
  text-align: left;  
}
.mat-column-nroliq {  
 width: 130px;
  min-width: 130px;
  max-width: 130px;
  white-space: nowrap;
}
.mat-column-impingre,
.mat-column-impegre{
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  white-space: nowrap;
  text-align: right;  
}
.mat-column-saldo {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  white-space: nowrap;
  text-align: right;  
  color : blue;
  font-weight: 400;

}
.mat-column-coment {  
  max-width: 150px;
  text-align: left;  
}
.center-col {
  max-width: 30px;
  text-align: center;
}

.celda-marca1 {
  background-color: yellow;
  color : black;
  font-weight: 400;
}

.celda-marca2 {
  background-color:green;
  color : white;
  font-weight: 400;
}

.saldo-negativo {
  color: red;
  font-weight: 400;
}
.ingreso-positivo {
  background-color:gray;
  color:yellow;
  font-weight: 400;
}
.egreso-positivo {
  background-color:gray;
  color:lightgreen;
  font-weight: 400;
}
