 <div class="movimcta-container">
    <form  [formGroup]="formInfoMov" class="row mt-1">        
        <div class="col-auto">
         <div class="header">
           <h4>INFORME DE CUENTA</h4>
         </div>        
        </div>        
        <div class="col-auto">        
            <mat-form-field style="width: 160px;font-size: 16px;" > 
              <input matInput [matDatepicker]="picker" 
                  placeholder = "fecha inicial"                 
                  (dateChange)="ondFechaChange($event)"                 
                  formControlName="dfecha">
            <mat-datepicker-toggle  matSuffix [for]="picker" > </mat-datepicker-toggle> 
            <mat-datepicker #picker> </mat-datepicker>  
            <!--mat-hint>{{ formInfoLab.controls['dfecha'].value | date : "dd/MM/yyyy HH:mm"}}</mat-hint--> 
          </mat-form-field >
        </div>
        <div class="col-auto">
          <mat-form-field style="width: 160px;font-size: 16px;" > 
            <input #fechalab matInput #inputFocus [matDatepicker]="pickerh"  
                  placeholder = "fecha final" 
                  (dateChange)="onhFechaChange($event)"
                  formControlName="hfecha" > 
            <mat-datepicker-toggle  matSuffix [for]="pickerh" > </mat-datepicker-toggle> 
            <mat-datepicker #pickerh> </mat-datepicker>  
            <!--mat-hint>{{ formInfoLab.controls['hfecha'].value | date : "dd/MM/yyyy HH:mm"}}</mat-hint--> 
          </mat-form-field >      
        </div>
        <div class="col-auto">
           <button 
             mat-icon-button
             class="action-btn"
             [disabled]="dispcta==null || dispcta.length==0"
             title="imprimir Cta.Bancaria"
             (click)="generarPDF()">
             <i class="bi bi-printer"></i>               
        </button>
        </div>
        <div class="col-auto">
          <button class="btn btn-primary btn-sm add-button" (click)="desplegarInforme()">
            <i class="bi bi-plus-circle me-1"></i>Desplegar
          </button>
        </div> 
        <div class="col-auto ms-auto">
          <button class="btn btn-secondary btn-sm add-button ms-auto" (click)="volver()">
             <i class="bi bi-arrow-left me-1"></i>Volver
         </button>
         </div>
     </form>       
      <!-- Información de la Cuenta -->
     @if (dispcta!==null && dispcta.length>0) {
      <div class="cta-info">
        <div class="cta-details">
          <div class="row">
            <div class="col-10">
              <div class="field">
                <div class="field-banco">Titular :   </div>
                <div class="field-banco">{{ this.cuentaB.titular+" - Banco : "+this.cuentaB.banco }}</div>           
                           
                <div style="padding-left: 100px;">CBU : </div>
                <div class="field-label">{{ this.cuentaB.cbu }}</div>   
              </div>              
            </div>              
         </div>              
         <div class="row">
            <div class="col-10">
              <div class="field">
                <div>Saldo Inicial al {{ cuentaB.fecsaldo | date : "dd/MM/yyyy"  }} : </div>
                <div class="field-label"> $ {{ cuentaB.saldoini | number : "1.2-2" }}</div>                        
                <div style="padding-left: 90px;">Saldo anterior al 1er Mov. :</div>
                <div class="field-saldo">{{ this.saldoinic | number : "1.2-2" }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      }
          <!-- Sección de tabla con scroll -->
     @if (dispcta!==null && dispcta.length>0) {
     <div class="table-container" style="overflow-x: auto">
       <table
           mat-table
           class="mat-elevation-z8"
           [dataSource]="this.dataSource">

    
      <!-- Columna Fecha -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef class="center-col" >Fecha</th>
        <td mat-cell *matCellDef="let renCta">{{ renCta.fecha | date : "dd/MM/yyyy"}}</td>
      </ng-container>

      <!-- Columna Tipo de Comprobante -->
      <ng-container matColumnDef="tipomov">
        <th mat-header-cell *matHeaderCellDef class="center-col">Tipo Mov</th>
        <td mat-cell *matCellDef="let renCta"
           [ngClass]="{'celda-marca2': renCta.marca2 !== 0}">{{ renCta.tipomov }}</td>
      </ng-container>

      <!-- Columna Nro.Comp -->
      <ng-container matColumnDef="nrocheque">
        <th mat-header-cell *matHeaderCellDef class="center-col">Nro.Cheque</th>
        <td mat-cell *matCellDef="let renCta">{{ renCta.nrocheque }}</td>
      </ng-container>

      <!-- Columna Descripción -->
      <ng-container matColumnDef="descrip">
        <th mat-header-cell *matHeaderCellDef class="center-col">Descripción</th>
        <td mat-cell *matCellDef="let renCta"
           [ngClass]="{'celda-marca1': renCta.marca1 !== 0}">
           {{ renCta.descrip }}
        </td>
      </ng-container>

      <!-- Columna Nro.Liq -->
      <ng-container matColumnDef="nroliq">
        <th mat-header-cell *matHeaderCellDef>Nro.Liq.</th>
        <td mat-cell *matCellDef="let renCta">{{ renCta.nroliq }}</td>
      </ng-container>


      <!-- Columna Ingreso -->
      <ng-container matColumnDef="impingre">
        <th mat-header-cell *matHeaderCellDef class="center-col">Ingreso</th>
        <td mat-cell *matCellDef="let renCta"
         [ngClass]="{'ingreso-positivo': renCta.impingre > 0}">
          {{ renCta.impingre | number : "1.2-2" }}
        </td>
      </ng-container>

      <!-- Columna Egreso -->
      <ng-container matColumnDef="impegre">
        <th mat-header-cell *matHeaderCellDef class="center-col">Egreso</th>
        <td mat-cell *matCellDef="let renCta"
        [ngClass]="{'egreso-positivo': renCta.impegre > 0}">
        {{ renCta.impegre | number : "1.2-2"}}</td>                
      </ng-container>

       <!-- Columna Saldo -->
      <ng-container matColumnDef="saldo">
        <th mat-header-cell *matHeaderCellDef class="center-col">Saldo</th>
        <td mat-cell *matCellDef="let renCta" 
             [ngClass]="{'saldo-negativo': renCta.saldo < 0}">
          {{ renCta.saldo | number:'1.2-2' }}
        </td>
      </ng-container>

      <!-- Columna coment -->
      <ng-container matColumnDef="coment">
        <th mat-header-cell *matHeaderCellDef class="center-col">Comentario</th>
        <td mat-cell *matCellDef="let renCta">{{ renCta.coment }}</td>
      </ng-container>
      <!-- Definición de filas -->
      <tr mat-header-row *matHeaderRowDef="colMovsCta; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; let index; columns: colMovsCta"></tr>
    </table>
  </div>
  }
  <!-- Sección inferior fija -->
  @if (dispcta!==null && dispcta.length>0) {
  <div class="fixed-section footer-container">
     <div class="footer">         
     </div>      
  </div> 
  }
  </div>



   