@if (!isloading){
<div class="custom-dialog-container" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <h4>{{ operacion }}</h4>

  <form [formGroup]="formMov" class="p-3">
    <!-- Primera fila -->
    <div class="row g-3">
      <div class="col-2">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Nro.Mov</mat-label>
          <input
            matInput
            readonly
            formControlName="nromov"
            style="text-align: center"
          />
        </mat-form-field>
      </div>
     
       <div class="col-10">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Cliente</mat-label>
          <mat-select  formControlName="clte"
             [disabled]="this.cclientes.length==0"
             (selectionChange)="onSelectionclte($event)">
               @for (cli of this.cclientes; track cli.idCliente){
                <mat-option [value]="cli.idCliente">                 
                  {{ cli.nombre }}
                </mat-option>
                }
          </mat-select>
        </mat-form-field>
      </div>             
    </div>

    <!-- Segunda fila -->
    <div class="row g-3">
      <div class="col-10">
         <mat-form-field class="w-100" appearance="fill">
          <mat-label>Ventas</mat-label>
          <mat-select  formControlName="venta"
            [disabled]="this.cventas.length==0"
             (selectionChange)="onSelectionVenta($event)">
               @for (vta of this.cventas; track vta.idingre;let i = $index){
                <mat-option [value]="vta.idingre">                 
                  {{ vta.cantidad+" "+vta.categoria+" - "+(vta.fecha| date : "dd/MM/yyyy")+" - "+
                     (vta.importe| number : "1.2-2")}}
                </mat-option>
                }
          </mat-select>
        </mat-form-field>
      </div>
      </div>
      <!-- Tercera Fila -->
       <div class="row g-3">
        <div class="col-10">
           <mat-form-field class="w-100" appearance="fill">
          <mat-label>Detalle del cobro</mat-label>
          <mat-select  formControlName="dcobro"
             [disabled]="this.dcobros.length==0"
             (selectionChange)="onSelectiondCobro($event)">
               @for (dcob of dcobros; track dcob.nroitem){
                <mat-option [value]="dcob.nroitem">                 
                  {{ dcob.nmpago+" "+
                   dcob.nrompago+" Bco. "+
                   dcob.banco+" Vto."+
                   (dcob.fecvto | date : "dd/MM/yyyy")+" - "+
                   (dcob.importe | number : "1.2-2")}}
                </mat-option>
                }
          </mat-select>
        </mat-form-field>
        </div>      
    </div>

    <!-- Cuarta fila -->
    <div class="row g-3">
      <div class="col-md-8">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Concepto</mat-label>
          <input matInput formControlName="concepto" />
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Importe</mat-label>
          <input matInput appImporte formControlName="importe" 
                 style="text-align: right" />

        </mat-form-field>
      </div>
    </div>
    
    <!-- Quinta fila -->
    <div class="row g-3">
      <div class="col-10">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Observaciones</mat-label>
          <input matInput formControlName="coment" />
        </mat-form-field>
      </div>           
    </div>
    
    <!-- Botonera -->
    <div class="botonera">
      <button
        class="btn btn-outline-primary"
        [disabled]="formMov.invalid || data.accion != 'A'"
        (click)="AgregarMovimiento()"
      >
        Agregar
      </button>
      <button
        class="btn btn-outline-success"
        [disabled]="formMov.invalid || data.accion != 'M'"
        (click)="ModificarMovimiento()"
      >
        Modificar
      </button>
      <button
        class="btn btn-outline-secondary"
        (click)="Anular()"
      >
        Cancelar
      </button>
    </div>
 
  </form>
</div>
@if (formMov.get('fechamov')?.hasError('validarFecha')){
  <div>La fecha no se encuentra dentro del período de esta cuenta</div>
}
}
