<div class="ctacte-container">
    <!-- Sección superior fija -->
    <div class="fixed-section">
      <div class="header mt-3">
        <h4>CUENTA CORRIENTE</h4>

        <button class="btn btn-secondary btn-sm add-button" (click)="modifSaldoInicial()">
          Mod. Saldo inicial
        </button>      
        <button 
                mat-icon-button
                class="action-btn"
                title="imprimir Cta.Cte"
                (click)="generarCtaCtePDF()">
                <i class="bi bi-printer"></i>               
        </button>
        <!--button class="btn btn-warning btn-sm add-button" (click)="agregarCredito()">
          <i class="bi bi-plus-circle me-1"></i>Agregar Crédito
         </button>
        <button class="btn btn-primary btn-sm add-button" (click)="agregarCobro()">
          <i class="bi bi-plus-circle me-1"></i>Agregar Cobro
         </button-->
      </div>
      <!-- Información del Cliente -->
      <div class="laboreo-info">
        <div class="laboreo-details">
          <div class="row">
            <div class="col-md-6">
              <div class="field">
                <div>Cliente :   </div>
                <div class="field-label">{{ nomprov+" Nro.: "+numprov}}</div>
              </div>
              <div class="field">
                <div>{{ mensSaldo }}</div>
                <div class="field-label"> $ {{ saldoinicial | number : "1.2-2"}}</div>
              </div>  
            </div>
          </div>
        </div>
         <!-- Mostrar spinner mientras carga o mostrar mensaje si no hay datos -->
        @if (cargandoCtaCte){
        <div class="loading-info">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Cargando...</span>
          </div>
          <span class="ms-2">Cargando Cuenta Corriente del Cliente...</span>
        </div>
        } 
        <div class="trabajos-section">
          <h5 class="trabajos-title">Movimientos en Cuenta Corriente</h5>
          @if (cmovscc.length === 0){
          <p class="no-trabajos-message">
            No hay registros de cuenta corriente para este Cliente.
          </p>
         }
        </div>
    </div>

    <!-- Sección de tabla con scroll -->
   
    <div *ngIf="cmovscc.length>0" class="table-container" >
        @if (cmovscc.length>0){
          <table mat-table class="mat-elevation-z8" [dataSource]="this.cmovscc"
          style="width: 100%; min-width: 1200px">
        <ng-container matColumnDef="fecha">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="overflow: visible; white-space: nowrap; padding-left: 5px"
          >
            Fecha
          </th>
          <td mat-cell *matCellDef="let renCC" style="padding-left: 5px">
            {{  renCC.fecha | date : "dd/MM/yyyy"}}
          </td>
        </ng-container>

        <ng-container matColumnDef="tipomov">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="overflow: visible; white-space: nowrap; padding-left: 5px"
          >
            T.Mov
          </th>
          <td mat-cell *matCellDef="let renCC" style="padding-left: 5px">
            {{ renCC.tipomov }}
          </td>
        </ng-container>

        <ng-container matColumnDef="idMov">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="
              overflow: hidden;
              text-align: center;
              white-space: nowrap;
              padding-left: 5px;
              max-width: 140px;
              width: 140px;
            "
          >
            Numero
          </th>
          <td
            mat-cell
            *matCellDef="let renCC"
            style="
              padding-left: 5px;
              text-align: center;
              max-width: 140px;
              width: 140px;
              overflow: hidden;
              text-overflow: ellipsis;
            "
          >
            {{ renCC.idMov }}
          </td>
        </ng-container>

        <ng-container matColumnDef="descmov">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="overflow: visible; white-space: nowrap; text-align: center"
          >
            Descripción
          </th>
          <td mat-cell *matCellDef="let renCC" style="text-align: left">
            {{ renCC.descmov }}
          </td>
        </ng-container>

        <ng-container matColumnDef="importe">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="overflow: visible; white-space: nowrap; text-align: center"
          >
            Importe
          </th>
          <td mat-cell *matCellDef="let renCC" style="text-align: right">
            {{ renCC.importe | number : "1.2-2" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="saldo">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="
              overflow: visible;
              white-space: nowrap;
              text-align: center;
              padding-right: 10px;
            "
          >
            Saldo
          </th>
          <td
            mat-cell
            *matCellDef="let renCC"
            style="text-align: right; padding-right: 10px"
          >
            {{ renCC.saldo | number : "1.2-2" }}
          </td>
        </ng-container>
         
        <tr mat-header-row *matHeaderRowDef=" colMovsCC; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; let index; columns:  colMovsCC"></tr>
        </table>
      }
      </div>
   

    <!-- Sección inferior fija -->
    <div class="fixed-section footer-container">
      <div class="footer">
          <div class="total">
             Saldo final en cuenta corriente =><span>$ {{ this.saldofinal | number : "1.2-2" }}</span>
      </div>
      <div class="actions">
        <button class="btn btn-secondary" (click)="Cancelar()">
          <i class="bi bi-arrow-left me-1"></i>Volver
        </button>
      </div>
    </div>
</div>
