<div class="container" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <h4 mat-dialog-title >{{operacion}}</h4>  
      <form [formGroup]="formItCob" >        
         <div class="row mt-1" >
          <div class="col-auto">
            <mat-form-field style="width:70px;"  appearance="fill">
              <mat-label>Nro.Cobro</mat-label>
              <input matInput [readonly]="true" formControlName="nrocob" style="text-align: center;">	
             </mat-form-field>      
          </div>  
          <div class="col-auto">
            <mat-form-field style="width:70px;"  appearance="fill">
              <mat-label>Nro.Item</mat-label>
              <input matInput [readonly]="true" formControlName="nroitem" style="text-align: center;">	
             </mat-form-field>      
          </div>  

          <div class="col-auto">
            <mat-form-field   style="width:150px;">
              <mat-label>Medio de Pago</mat-label>
              <mat-select formControlName="nmpago"    
                  (selectionChange)="onSelectionChangeMedioPago($event)">      
                  <mat-option *ngFor="let mpag of this.cmpago; let i = index" [value]="i">
                    {{ mpag.mediodepago }}
                  </mat-option>            
              </mat-select>
            </mat-form-field>
          </div>      
          <div class="col-auto">
            <mat-form-field style="width:160px;"> 
                <input matInput [matDatepicker]="picker" 
                (dateChange)="onFechaChange($event)"
                 placeholder = "Elija una fecha" formControlName="fecha" > 
                <mat-datepicker-toggle  matSuffix [for]="picker" > </mat-datepicker-toggle> 
                <mat-datepicker #picker> </mat-datepicker>  
            </mat-form-field >
          </div>
        </div>   
        <div class="row">
          
          <div class="col-auto">
            <mat-form-field style="width:200px;"  appearance="fill">
              <mat-label>Nro.Medio de Pago</mat-label>
              <input matInput formControlName="nrompago" style="text-align: left;">	
             </mat-form-field>      
          </div>
          <div class="col-auto">
            <mat-form-field style="width:150px;"  appearance="fill">
              <mat-label>Banco</mat-label>
              <input matInput formControlName="banco" style="text-align: left;">	
             </mat-form-field>      
          </div>
          <div class="col-auto">
            <mat-form-field style="width:160px;"> 
                <input matInput [matDatepicker]="picker1"  
                 (dateChange)="onFechaVtoChange($event)"
                 placeholder = "Elija una fecha" formControlName="fecvto" > 
                <mat-datepicker-toggle  matSuffix [for]="picker1" > </mat-datepicker-toggle> 
                <mat-datepicker #picker1> </mat-datepicker>  
            </mat-form-field >
          </div>
        </div>                   
      <div class="row">                             
        <div class="col-auto">
          <mat-form-field style="width:150px;"  appearance="fill">
            <mat-label>Importe</mat-label>                
            <input matInput  selecText formControlName="importe" style="text-align: right;"	   
               [value]="formItCob.controls['importe'].value"
               (blur)="formatearComoMoneda()"
               (focus)="quitarFormatoMoneda()"  >        
           </mat-form-field>        
       </div>  
       <div class="col-auto">
              <mat-form-field style="width:350px;"  appearance="fill">
                <mat-label>Observaciones</mat-label>
                <input matInput formControlName="coment">	
               </mat-form-field> 
       </div>     
      </div>    
      
      <div class="row">
            <div class="botonera">           
                <button class="btn btn-sm btn-outline-primary me-5" 
                         [disabled]="formItCob.invalid || data.accion!='A'" 
                         (click)="GrabarItCobro()">Agregar Cobro</button>                                
                <button class="btn btn-sm btn-outline-success me-5" 
                         [disabled]="formItCob.invalid || data.accion!='M'" 
                         (click)="ModificarItCobro()">Modificar Cobro</button>  
                <button class="btn btn-sm btn-outline-secondary"                
                         (click)="Anular()">Cancelar</button>                       
            </div>  
      </div>
  </form>
</div>
