@if (!isloading){
<div class="cta-container">
    <!-- Sección superior fija -->
    <div class="fixed-section">
      <div class="header mt-3">
        <h4>Detalle de Cuenta</h4>   
        
        <div class="col-4">
           <input #filtroInput (keyup)="aplicarFiltro(filtroInput.value)" placeholder="Filtrar por descripción">
        </div>   
        <button 
                mat-icon-button
                class="action-btn"
                title="imprimir Cta.Bancaria"
                (click)="generarCtaCtePDF()">
                <i class="bi bi-printer"></i>               
        </button>
        <button class="btn btn-warning btn-sm add-button" (click)="agregarMovimiento()">
          <i class="bi bi-plus-circle me-1"></i>Agregar Movimiento
         </button>
          <button class="btn btn-secondary btn-sm add-button" (click)="Volver()">
          <i class="bi bi-arrow-left me-1"></i>Volver
         </button>
      
      </div>
      <!-- Información de la Cuenta -->
      <div class="cta-info">
        <div class="cta-details">
          <div class="row">
            <div class="col-10">
              <div class="field">
                <div>Titular :   </div>
                <div class="field-label">{{ this.titular }}</div>           
                <div style="padding-left: 100px;">Banco : </div>
                <div class="field-label">{{ this.banco }}</div>                 
                <div style="padding-left: 100px;">CBU : </div>
                <div class="field-label">{{ this.cuentab.cbu }}</div>   
              </div>              
            </div>              
         </div>              
         <div class="row">
            <div class="col-10">
              <div class="field">
                <div>Saldo Inicial al {{ cuentab.fecsaldo | date : "dd/MM/yyyy"  }} : </div>
                <div class="field-label"> $ {{ cuentab.saldoini | number : "1.2-2" }}</div>                        
                <div style="padding-left: 90px;">Período : </div>
                <div class="field-label">{{ cuentab.periodo }}</div>
              </div>
            </div>
          </div>
        </div>
        <!-- Mostrar spinner mientras carga o mostrar mensaje si no hay datos -->
        @if (cargandoCta){
        <div class="loading-info">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Cargando...</span>
          </div>
          <span class="ms-2">Cargando Detalle de cuenta ...</span>
        </div>
        }
     </div>
     </div>
      <!-- Sección de tabla con scroll -->
      @if (dispcta.length>0){
        <div class="table-container" style="overflow-x: auto">
         <table
           mat-table
           class="mat-elevation-z8"
           [dataSource]="this.dataSource"
           style="width: 100%" >

    
      <!-- Columna Fecha -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef >Fecha</th>
        <td mat-cell *matCellDef="let renCta">{{ renCta.fecha | date : "dd/MM/yyyy"}}</td>
      </ng-container>

      <!-- Columna Tipo de Comprobante -->
      <ng-container matColumnDef="tipocomp">
        <th mat-header-cell *matHeaderCellDef >Tipo Comp</th>
        <td mat-cell *matCellDef="let renCta">{{ renCta.tipocomp }}</td>
      </ng-container>

      <!-- Columna Nro.Comp -->
      <ng-container matColumnDef="comprob">
        <th mat-header-cell *matHeaderCellDef >Nro.Comp</th>
        <td mat-cell *matCellDef="let renCta">{{ renCta.comprob }}</td>
      </ng-container>

      <!-- Columna Concepto -->
      <ng-container matColumnDef="concepto">
        <th mat-header-cell *matHeaderCellDef class="center-col">Descripción</th>
        <td mat-cell *matCellDef="let renCta">{{ renCta.concepto }}</td>
      </ng-container>

      <!-- Columna Ingreso -->
      <ng-container matColumnDef="impingre">
        <th mat-header-cell *matHeaderCellDef  class="center-col">Ingreso</th>
        <td mat-cell *matCellDef="let renCta">{{ renCta.impingre | number : "1.2-2" }}</td>
      </ng-container>

      <!-- Columna Egreso -->
      <ng-container matColumnDef="impegre">
        <th mat-header-cell *matHeaderCellDef class="center-col">Egreso</th>
        <td mat-cell *matCellDef="let renCta">{{ renCta.impegre | number : "1.2-2"}}</td>
      </ng-container>

       <!-- Columna Saldo -->
      <ng-container matColumnDef="saldo">
        <th mat-header-cell *matHeaderCellDef class="center-col">Saldo</th>
        <td mat-cell *matCellDef="let renCta" 
             [ngClass]="{'saldo-negativo': renCta.saldo < 0}">
          {{ renCta.saldo | number:'1.2-2' }}
        </td>
      </ng-container>

      <!-- Columna coment -->
      <ng-container matColumnDef="coment">
        <th mat-header-cell *matHeaderCellDef class="center-col">Comentario</th>
        <td mat-cell *matCellDef="let renCta">{{ renCta.coment }}</td>
      </ng-container>

      <!-- Columna Modificar -->
      <ng-container matColumnDef="M">
        <th mat-header-cell *matHeaderCellDef >M</th>
        <td mat-cell *matCellDef="let renCta">
          <div class="text-center">
            <button
              mat-icon-button
              class="action-btn"
              title="modificar Movimiento"
              (click)="modificarMovCuentaB( renCta.nromov)"
            >
              <i class="bi bi-pencil-fill"></i>
            </button>
          </div>
        </td>
      </ng-container>
      
      <!-- Definición de filas -->
      <tr mat-header-row *matHeaderRowDef="colMovsCta; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; let index; columns: colMovsCta"></tr>
    </table>
  </div>
  }
</div>
}
    
    