@if (!isloading){
<div class="custom-dialog-container" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <h4 mat-dialog-title>{{operacion}}</h4>  
    <!--form [formGroup]="formCli" class="row ml-3 mt-3 mr-10"-->     
     <form [formGroup]="formCampo" class="p-3">        
      <div class="row g-3 mb-3">
        <div class="col-4">           
           <mat-form-field class="w-100" appearance="fill">
                 <mat-label>Nro</mat-label>
                 <input matInput [readonly]="true" formControlName="idcampo" style="text-align: center;">	
            </mat-form-field>    
        </div>

        <div class="col-8">
           <mat-form-field class="w-100" appearance="fill">
                <mat-label>Nombre del Campo</mat-label>
                <input matInput formControlName="nombre" style="text-align: left;">	
            </mat-form-field>    
        </div>   
      </div>   
      <div class="row g-3 mb-3">
        <div class="col-6">           
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>Nombre Abreviado</mat-label>
                <input matInput formControlName="abrev" style="text-align: left;">	
            </mat-form-field>    
        </div>   
        <div class="col-4 ms-auto">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Procedencia</mat-label>
              <mat-select formControlName="proced">      
                  <mat-option *ngFor="let pro of this.cprocedencias; let i = index"
                    (click)="seleccionoProced(pro.abproc)"
                    [value]="pro.procedencia">
                    {{ pro.procedencia }}
                  </mat-option>            
              </mat-select>
            </mat-form-field>
          </div>
              <div class="col-2">           
           <mat-form-field class="w-100" appearance="fill">
                 <mat-label>Proc.Abrev</mat-label>
                 <input matInput [readonly]="true" formControlName="abproc" style="text-align: center;">	
            </mat-form-field>    
        </div> 
          <div class="col-6">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Campos existentes</mat-label>
              <mat-select>      
                  <mat-option *ngFor="let campo of this.ccampos let i = index"
                    (click)="seleccionoCampo(campo.idcampo)"
                    [value]="campo.nombre">
                    {{ campo.nombre+' ('+campo.abrev+')'}}
                  </mat-option>            
              </mat-select>
            </mat-form-field>
          </div>  
       
        </div>
        <div class="botonera">            
              <button class="btn btn-sm btn-outline-primary me-5" 
                       [disabled]="formCampo.invalid || accion!=='A'" 
                       (click)="AgregarCampo()">Agregar
              </button>                                              
               <button class="btn btn-sm btn-outline-success me-5" 
                       [disabled]="formCampo.invalid || accion!=='M'" 
                       (click)="ModificarCampo()">Modificar
              </button>
               <button class="btn btn-sm btn-outline-danger me-5" 
                       [disabled]="formCampo.invalid || accion!=='M'" 
                       (click)="BorrarCampo()">Borrar
              </button>
              <button class="btn btn-sm btn-outline-secondary"                
                       (click)="Anular()">Cancelar
              </button>                       
        </div>                      
    </form>
</div>
}
