@if (!isloading){
<div class="custom-dialog-container" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <h4>{{ operacion }}</h4>

  <form [formGroup]="formMov" class="p-3">
    <!-- Primera fila -->
    <div class="row g-1">
      <div class="col-3">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Nro.Mov</mat-label>
          <input
            matInput
            readonly
            formControlName="nromov"
            style="text-align: center"
          />
        </mat-form-field>
      </div>
      <div class="col-4">
            <mat-form-field class="w-100" appearance="fill"> 
                <input  #fechaaporte matInput #inputFocus [matDatepicker]="picker" 
                        placeholder = "Elija una fecha" 
                        (dateChange)="onFechaChange($event)"
                        formControlName="fechamov" > 
                <mat-datepicker-toggle  matSuffix [for]="picker" > </mat-datepicker-toggle> 
                <mat-datepicker #picker> </mat-datepicker>                  
                <mat-hint>{{ formMov.controls['fecha'].value| date : "dd/MM/yyyy HH:mm"}}</mat-hint>
            </mat-form-field >            
      </div>
      <div class="col-5">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Tipo de Movimiento</mat-label>
          <mat-select  formControlName="tipomov"
             [disabled]="this.ctiposmov.length==0"
             (selectionChange)="onSelectionTmov($event)">
               @for (tm of this.ctiposmov; track tm.tipomov){
                <mat-option [value]="tm.tipomov">                 
                  {{ tm.tipomov }}
                </mat-option>
                }
          </mat-select>
        </mat-form-field>
      </div>
      </div>
     <!-- Segunda fila -->
      <div class="row g-3">
      <div class="col-md-6">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Nro.de Cheque</mat-label>
          <input matInput formControlName="nrocheque" />
        </mat-form-field>
      </div>
       <div class="col-md-3 ms-auto">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Nro.Liq</mat-label>
          <input matInput formControlName="nroliq" />
        </mat-form-field>
      </div>
    </div>
     <!-- Segunda fila -->  
      <div class="row g-3">
       <div class="col-10">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Elija un Proveedor</mat-label>
          <mat-select  formControlName="prove"
             [disabled]="this.cproveedores.length==0"
             (selectionChange)="onSelectionProv($event)">
               @for (pro of this.cproveedores; track pro.idProv){
                <mat-option [value]="pro.idProv">                 
                  {{ pro.nombre }}
                </mat-option>
                }
          </mat-select>
        </mat-form-field>
      </div>        
      <div class="col-10">
         <mat-form-field class="w-100" appearance="fill">
          <mat-label>Descripción</mat-label>                    
          <input matInput formControlName="descrip" />
        </mat-form-field>
      </div>     
      <div class="col-2">         
       <mat-checkbox 
         [checked]="formMov.controls['marcada'].value!==0"
         (change)="marcaFila($event.checked)">
              Marcada
        </mat-checkbox>
    </div> 
    </div>
   
    

     <!-- Cuarta fila -->
    <div class="row g-3">
      <div class="col-8">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Observaciones</mat-label>
          <input matInput formControlName="coment" />
        </mat-form-field>
      </div>           
      <div class="col-4 ms-auto">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Importe</mat-label>
          <input matInput appImporte formControlName="importe" 
                 style="text-align: right" />
        </mat-form-field>
      </div>
    </div>
    
  >
    
    <!-- Botonera -->
    <div class="botonera">
      <button
        class="btn btn-outline-primary"
        [disabled]="formMov.invalid || data.accion != 'A'"
        (click)="AgregarMovimiento()"
      >
        Agregar
      </button>
      <button
        class="btn btn-outline-success"
        [disabled]="formMov.invalid || data.accion != 'M'"
        (click)="ModificarMovimiento()"
      >
        Modificar
      </button>
      <button
        class="btn btn-outline-secondary"
        (click)="Anular()"
      >
        Cancelar
      </button>
    </div>
 
  </form>
</div>
@if (formMov.get('fechamov')?.hasError('validarFecha')){
  <div>La fecha no se encuentra dentro del período de esta cuenta</div>
}
}
