@if (!isloading){
<div class="custom-dialog-container" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <h4>{{ operacion }}</h4>

  <form [formGroup]="formMov" class="p-3">
    <!-- Primera fila -->
    <div class="row g-3">
      <div class="col-2">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Nro.Mov</mat-label>
          <input
            matInput
            readonly
            formControlName="nromov"
            style="text-align: center"
          />
        </mat-form-field>
      </div>
     
       <div class="col-10">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Proveedor</mat-label>
          <mat-select  formControlName="prov"
             [disabled]="this.cproveedores.length==0"
             (selectionChange)="onSelectionProv($event)">
               @for (pro of this.cproveedores; track pro.idProv){
                <mat-option [value]="pro.idProv">                 
                  {{ pro.nombre }}
                </mat-option>
                }
          </mat-select>
        </mat-form-field>
      </div>             
    </div>

    <!-- Segunda fila -->
    <div class="row g-3">
      <div class="col-10">
         <mat-form-field class="w-100" appearance="fill">
          <mat-label>Egresos Pagados</mat-label>
          <mat-select  formControlName="salida"
            [disabled]="this.csalidas.length==0"
             (selectionChange)="onSelectionSalida($event)">
               @for (sal of this.csalidas; track sal.idSalida;let i = $index){
                <mat-option [value]="sal.idSalida">                 
                  {{ sal.cantidad+" "+sal.categoria+" - "+(sal.fecha| date : "dd/MM/yyyy")+" - "+
                     (sal.importe| number : "1.2-2")}}
                </mat-option>
                }
          </mat-select>
        </mat-form-field>
      </div>
      </div>
      <!-- Tercera Fila -->
       <div class="row g-3">
        <div class="col-10">
           <mat-form-field class="w-100" appearance="fill">
          <mat-label>Detalle del pago</mat-label>
          <mat-select  formControlName="dpago"
             [disabled]="dpagos==undefined ||dpagos.length==0"
             (selectionChange)="onSelectiondPago($event)">
               @for (dpag of dpagos; track dpag.nroitem){
                <mat-option [value]="dpag.nroitem">                 
                  {{ dpag.nmpago+" "+
                   dpag.nrompago+" Bco. "+
                   dpag.banco+" Vto."+
                   (dpag.fecvto | date : "dd/MM/yyyy")+" - "+
                   (dpag.importe | number : "1.2-2")}}
                </mat-option>
                }
          </mat-select>
        </mat-form-field>
        </div>      
    </div>

    <!-- Cuarta fila -->
    <div class="row g-3">
      <div class="col-md-8">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Concepto</mat-label>
          <input matInput formControlName="concepto" />
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Importe</mat-label>
          <input matInput appImporte formControlName="importe" 
                 style="text-align: right" />

        </mat-form-field>
      </div>
    </div>
    
    <!-- Quinta fila -->
    <div class="row g-3">
      <div class="col-10">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Observaciones</mat-label>
          <input matInput formControlName="coment" />
        </mat-form-field>
      </div>           
    </div>
    
    <!-- Botonera -->
    <div class="botonera">
      <button
        class="btn btn-outline-primary"
        [disabled]="formMov.invalid || data.accion != 'A'"
        (click)="AgregarMovimiento()"
      >
        Agregar
      </button>
      <button
        class="btn btn-outline-success"
        [disabled]="formMov.invalid || data.accion != 'M'"
        (click)="ModificarMovimiento()"
      >
        Modificar
      </button>
      <button
        class="btn btn-outline-secondary"
        (click)="Anular()"
      >
        Cancelar
      </button>
    </div>
 
  </form>
</div>
@if (formMov.get('fechamov')?.hasError('validarFecha')){
  <div>La fecha no se encuentra dentro del período de esta cuenta</div>
}
}
