<div class="laboreos-container">
    <form  [formGroup]="formInfoPag" class="row mt-1">        
      <div class="col-auto">
        <div class="header">
           <h4>INFORME DE PAGOS</h4>
        </div>        
      </div>            
      <div class="col-auto">        
            <mat-form-field style="width: 200px;" > 
              <input matInput [matDatepicker]="picker" 
                  placeholder = "fecha inicial"                 
                  (dateChange)="ondFechaChange($event)"                 
                  formControlName="dfecha">
            <mat-datepicker-toggle  matSuffix [for]="picker" > </mat-datepicker-toggle> 
            <mat-datepicker #picker> </mat-datepicker>  
            <!--mat-hint>{{ formInfoLab.controls['dfecha'].value | date : "dd/MM/yyyy HH:mm"}}</mat-hint--> 
        </mat-form-field >
      </div>
      <div class="col-auto">
        <mat-form-field style="width: 200px;" > 
            <input #fechalab matInput #inputFocus [matDatepicker]="pickerh"  
                  placeholder = "fecha final" 
                  (dateChange)="onhFechaChange($event)"
                  formControlName="hfecha" > 
            <mat-datepicker-toggle  matSuffix [for]="pickerh" > </mat-datepicker-toggle> 
            <mat-datepicker #pickerh> </mat-datepicker>  
            <!--mat-hint>{{ formInfoLab.controls['hfecha'].value | date : "dd/MM/yyyy HH:mm"}}</mat-hint--> 
        </mat-form-field >      
      </div>
      <!--div class="col-3">        
      </div-->
      
   
      <div class="col">
        <button class="btn btn-primary btn-sm add-button" (click)="desplegarInforme()">
          Informe de Pagos
        </button>
      </div>
      <div class="col-auto">
        <button 
          [disabled]="cinfosbpag==undefined || cinfosbpag.length==0"
          mat-icon-button
          class="action-btn ml-10"
          title="imprimir informe de pagos"
          (click)="generarPDF()"
        >
         <i class="bi bi-printer"></i>               
        </button>
      </div>  
  </form>   
  @if (cinfosbpag.length>0){
  <div class="table-container">
    @if (cinfosbpag){
     <table  
      mat-table
      class="mat-elevation-z8"
      [dataSource]="cinfosbpag"
      style="width: 100%"
      >
      <ng-container matColumnDef="nomemp">
        <th mat-header-cell *matHeaderCellDef>Empleado</th>
        <td mat-cell *matCellDef="let renInfo">{{ renInfo.nomemp }}</td>
      </ng-container>
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef>Fecha Pago</th>
        <td mat-cell *matCellDef="let renInfo">{{ renInfo.fecha | date  : "dd/MM/yyyy" }}</td>
      </ng-container>
      <ng-container matColumnDef="idPagoemp">
        <th mat-header-cell *matHeaderCellDef>NroPag</th>
        <td mat-cell *matCellDef="let renInfo">{{ renInfo.idPagoemp }}</td>
      </ng-container>
   
      <ng-container matColumnDef="mediopago">
        <th mat-header-cell *matHeaderCellDef>M.Pago</th>
        <td mat-cell *matCellDef="let renInfo">{{ renInfo.mediopago }}</td>
      </ng-container>
     
      <ng-container matColumnDef="nrompago">
        <th mat-header-cell *matHeaderCellDef>Numero</th>
        <td mat-cell *matCellDef="let renInfo">{{ renInfo.nrompago }}</td>
      </ng-container>
       <ng-container matColumnDef="banco">
        <th mat-header-cell *matHeaderCellDef>Banco</th>
        <td mat-cell *matCellDef="let renInfo">{{ renInfo.banco }}</td>
      </ng-container>          
      <ng-container matColumnDef="importe">
        <th mat-header-cell *matHeaderCellDef>Importe</th>
        <td mat-cell *matCellDef="let renInfo">{{ renInfo.importe | number : "1.2-2"  }}</td>
      </ng-container>
        <!-- Definición de filas -->
      <tr mat-header-row *matHeaderRowDef="colPagos; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; let index = index; columns: colPagos"
                [ngClass]="{'fila-totales':  cinfosbpag[index].nomemp.includes('SUBT')||
                                             cinfosbpag[index].nomemp.includes('TOTA')}"></tr>
    </table>
    }
  </div>
  }
</div>

