 <div class="laboreos-container">
    <form  [formGroup]="formVyC" class="row mt-1">        
      <div class="col-auto">
        <div class="header">
           <h4>INFORME DE Ventas/Compras</h4>
        </div>        
      </div>            
      <div class="col-auto">        
            <mat-form-field style="width: 200px;" > 
              <input matInput [matDatepicker]="picker" 
                  placeholder = "fecha inicial"                 
                  (dateChange)="ondFechaChange($event)"                 
                  formControlName="dfecha">
            <mat-datepicker-toggle  matSuffix [for]="picker" > </mat-datepicker-toggle> 
            <mat-datepicker #picker> </mat-datepicker>  
            <!--mat-hint>{{ formInfoLab.controls['dfecha'].value | date : "dd/MM/yyyy HH:mm"}}</mat-hint--> 
        </mat-form-field >
      </div>
      <div class="col-auto">
        <mat-form-field style="width: 200px;" > 
            <input #fechalab matInput #inputFocus [matDatepicker]="pickerh"  
                  placeholder = "fecha final" 
                  (dateChange)="onhFechaChange($event)"
                  formControlName="hfecha" > 
            <mat-datepicker-toggle  matSuffix [for]="pickerh" > </mat-datepicker-toggle> 
            <mat-datepicker #pickerh> </mat-datepicker>  
            <!--mat-hint>{{ formInfoLab.controls['hfecha'].value | date : "dd/MM/yyyy HH:mm"}}</mat-hint--> 
        </mat-form-field >      
      </div>
      <!--div class="col-3">        
      </div-->
      
   
      <div class="col">
        <button class="btn btn-primary btn-sm add-button" (click)="desplegarInforme()">
          Informe Detallado
        </button>
      </div>
      <!--div class="col">
        <button class="btn btn-secondary btn-sm add-button" (click)="desplegarResumido()">
          Informe Resumido
        </button>
      </div-->
      <!--div class="col-auto">
        <button 
          [disabled]="cinfosbcob==undefined || cinfosbcob.length==0"
          mat-icon-button
          class="action-btn ml-10"
          title="imprimir informe de Cobros resumido"
          (click)="generarResPDF()"
        >
         <i class="bi bi-printer"></i>               
        </button>
      </div-->  
      <div class="col-auto">
        <button 
          [disabled]="ccomvtas==undefined || ccomvtas.length==0"
          mat-icon-button
          class="action-btn ml-10"
          title="imprimir informe de Ventas y Compras"
          (click)="generarDetPDF()"
        >
         <i class="bi bi-printer"></i>               
        </button>
      </div>  
  </form>   
  @if(ccomvtas!=null && ccomvtas.length>0){
  <div class="table-container" style="overflow-x: auto">
    
     <table  
      mat-table
      class="mat-elevation-z8"
      [dataSource]="ccomvtas"
      style="width: 100%"
      >
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let renInfo">{{ renInfo.fecha | date : "dd/MM/yyyy" }}</td>
      </ng-container>
      <ng-container matColumnDef="compvta">
        <th mat-header-cell *matHeaderCellDef style="text-align: left;">Vta/Compra</th>
        <td mat-cell *matCellDef="let renInfo">{{ renInfo.compvta }}</td>
      </ng-container>
      <ng-container matColumnDef="nprovcli">
        <th mat-header-cell *matHeaderCellDef>Cliente/Proveedor</th>
        <td mat-cell *matCellDef="let renInfo">{{ renInfo.nprovcli }}</td>
      </ng-container>
      <ng-container matColumnDef="nroliq">
        <th mat-header-cell *matHeaderCellDef>Nro.Liq</th>
        <td mat-cell *matCellDef="let renInfo">{{ renInfo.nroliq }}</td>
      </ng-container>
      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef>Categoria</th>
        <td mat-cell *matCellDef="let renInfo">{{ renInfo.categoria }}</td>
      </ng-container>
     
      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef>Cantidad</th>
        <td mat-cell *matCellDef="let renInfo">{{ renInfo.cantidad }}</td>
      </ng-container>
       <ng-container matColumnDef="totalk">
        <th mat-header-cell *matHeaderCellDef>Tot.Kilos</th>
        <td mat-cell *matCellDef="let renInfo">{{ renInfo.totalk }}</td>
      </ng-container>
       <ng-container matColumnDef="promedio">
        <th mat-header-cell *matHeaderCellDef>Promedio</th>
        <td mat-cell *matCellDef="let renInfo">{{ renInfo.promedio }}</td>
      </ng-container>
       <ng-container matColumnDef="preunit">
        <th mat-header-cell *matHeaderCellDef>Precio Un.</th>
        <td mat-cell *matCellDef="let renInfo">{{ renInfo.preunit | number : "1.2-2" }}</td>
      </ng-container>
      <ng-container matColumnDef="importe">
        <th mat-header-cell *matHeaderCellDef>Importe</th>
        <td mat-cell *matCellDef="let renInfo">{{ renInfo.importe | number : "1.2-2" }}</td>
      </ng-container>
      <ng-container matColumnDef="proced">
        <th mat-header-cell *matHeaderCellDef>Procedencia</th>
        <td mat-cell *matCellDef="let renInfo">{{ renInfo.proced }}</td>
      </ng-container>
      <ng-container matColumnDef="observ">
        <th mat-header-cell *matHeaderCellDef>Observaciones</th>
        <td mat-cell *matCellDef="let renInfo">{{ renInfo.observ }}</td>
      </ng-container>
        <!-- Definición de filas -->
      <tr mat-header-row *matHeaderRowDef="colComvtas; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; let index = index; columns: colComvtas"
                [ngClass]="{'fila-totales': ccomvtas[index].nprovcli.includes('TOTA')}"></tr>
    </table>
   
  </div>
  }

